@charset "ISO-8859-1";
html, body {
  height: 100%;
  margin: 0;
}

#page {
  position: relative;
  min-height: 100vh;
}

#content {
  padding-bottom: 2.5rem;
}

#footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #E8E8E8;
   color: black;
   text-align: center;
}


