<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <title><ui:insert name="pageTitle">Amazing Blog - Listing</ui:insert></title>
        <h:outputStylesheet library="css" name="styles.css"/>
    </h:head>
    <h:body>
        <ui:composition template="/layouts/commonLayout.xhtml">
            <ui:define name="content">
                <center>
                    <h1>Blog Listing</h1>
                    <br />
                    <br />
                    <div class="card">
                        <p:dataTable  value="#{blogController.service.blogs}" var = "blog" stripedRows="true"  showGridlines="true"  allowUnsorting="true" sortMode="single" rows="5"
                                        paginator="true"
                                        paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                        currentPageReportTemplate="{startRecord}-{endRecord} of {totalRecords} records"
                                        rowsPerPageTemplate="5,10,{ShowAll|'All'}">

                            <p:column sortBy="#{blog.blog_id}"  headerText="ID">
                                <h:outputText value="#{blog.blog_id}" />
                            </p:column>

                            <p:column sortBy="#{blog.title}"  headerText="Title">
                                <h:outputText value="#{blog.title}" />
                            </p:column>

                            <p:column sortBy="#{blog.blog}"  headerText="Blog Entry">
                                <h:outputText value="#{blog.blog}" />
                            </p:column>

                            <p:column sortBy="#{blog.date}"  headerText="Date">
                                <h:outputText value="#{blog.date}">
                                    <f:convertDateTime pattern="MM/dd/yyyy" />
                                </h:outputText>
                            </p:column>

                            <p:column sortBy="#{blog.isEdited}"  headerText="Edited">
                                <h:outputText value="#{blog.isEdited}" />
                            </p:column>

                            <p:column sortBy="#{blog.edited_date}"  headerText="Edit Date">
                                <h:outputText value="#{blog.edited_date}">
                                    <f:convertDateTime pattern="MM/dd/yyyy" />
                                </h:outputText>
                            </p:column>

                            <p:column headerText="Delete">
                                <h:form>
                                    <h:commandButton action="#{blogController.onClickDelete(blog)}" value="Delete" />
                                </h:form>
                            </p:column>

                            <p:column headerText="Edit">
                                <h:form>
                                    <h:commandButton action="#{blogController.onClickEdit(blog)}" value="Edit" />
                                </h:form>
                            </p:column>

                        </p:dataTable>
                        <br />
                    </div>
                </center>
            </ui:define>
        </ui:composition>
    </h:body>
</html>