<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <title>Amazing Blog - Report1</title>
        <h:outputStylesheet library="css" name="styles.css"/>
    </h:head>
    <h:body>
        <ui:composition template="/layouts/commonLayout.xhtml">
            <ui:define name="content">
                <center><h1>Report 1 - Enter Title to Search</h1></center>
                <br />
                <br />
                <center>
                    <div class="card" align="left" style="width:50%">
                       <h:form id="edit-form">
                            <h3>Title</h3>
                            <p:inputText value="#{blog.title}" label="Title" />
                            <br />
                            <br />
                            <h:commandButton action="#{blogController.onSubmitReport1(blog)}" value="Submit"/>
                            <br />
                            <br />
                            <h:messages />
                        </h:form>
                    </div>
                </center>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
