<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">

    <h:head>
        <title>Amazing Blog - Create</title>
        <h:outputStylesheet library="css" name="styles.css"/>
    </h:head>
    <h:body>
        <ui:composition template="/layouts/commonLayout.xhtml">
            <ui:define name="content">
                <br />
                <br />
                <center><h1>Create A Blog</h1></center>

                <br />

                <center >
                    <h:form class="reg-form">
                        <h:messages />

                        Title: <h:inputText value="#{blog.title}" label="Title" required="true" /> <br /> <br />
                        Blog: <h:inputText value="#{blog.blog}" label="Blog" required="true"  /> <br /><br />
                        
                        <br /><br />
                        <h:commandButton action="#{blogController.onSubmit(blog)}" value="Submit"/>
                    </h:form>
                </center>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
