<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">

    <h:head>
        <title>Amazing Blog - Login</title>
        <h:outputStylesheet library="css" name="styles.css"/>
   </h:head>

    <h:body>
        <ui:composition template="/layouts/commonLayout.xhtml">

            <ui:define name="content">
                <br />
                <br />
                <center><h1>Login</h1></center>
                <br />

                <center>
                    <h:form styleClass="login-form">

                        <h:messages />

                        User Name: <h:inputText value="#{user.usrName}" label="User Name" required="true"  /> <br /><br />
                        Password: <h:inputText value="#{user.password}" label="Password" required="true"  /> <br /><br />
                        <h:inputHidden value="#{user.firstName}" />
                        <h:inputHidden value="#{user.lastName}" />
                        <h:inputHidden value="#{user.experience}" />

                        <h:commandButton action="#{loginController.onSubmit(user)}" value="Submit"/>
                    </h:form>

                </center>

            </ui:define>

        </ui:composition>
    </h:body>
</html>
