<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <h:head>
        <title><ui:insert name="pageTitle">Amazing Blog - Report</ui:insert></title>
        <h:outputStylesheet library="css" name="styles.css"/>
    </h:head>

    <h:body>

        <div class="card">
            <ui:composition template="/layouts/commonLayout.xhtml">
                <ui:define name="content">
                    <center>
                        <h1>Blogging Report</h1>
                        <br />
                        <br />

                        <h:dataTable value="#{blogController.service.blogs}" var = "blog"
                                     styleClass = "blog-table"
                                     headerClass = "blog-table-header"
                                     rowClasses = "blog-table-row-odd, blog-table-row-even">

                            <h:column>
                                <f:facet name = "header">Title</f:facet>
                                    #{blog.title}
                            </h:column>

                            <h:column>
                                <f:facet name = "header">Blog Entry</f:facet>
                                    #{blog.blog}
                            </h:column>

                        </h:dataTable>
                        <br />
                    </center>
                </ui:define>
            </ui:composition>
        </div>

    </h:body>
</html>