<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">

<h:head>
    <title><ui:insert name="pageTitle">Amazing Blog - About</ui:insert></title>
    <h:outputStylesheet library="css" name="styles.css"/>
</h:head>
<h:body>
    <ui:composition template="/layouts/commonLayout.xhtml">
        <ui:define name="content">
            <center><h1>About Us</h1></center>
            <br />
            <br />
            <div class="card">
                <table border="0" width="80%" align="center">
                    <tr>
                        <td width="33%">
                                <img src="resources/Images/team/am.jpg" alt="Angel" style="width:100%" />
                        </td>
                        <td width="33%">
                                <img src="resources/Images/team/kl.jpg" alt="Kelly" style="width:100%" />
                        </td>
                        <td width="33%">
                                <img src="resources/Images/team/mp.jpg" alt="Mark" style="width:100%" />
                        </td>
                    </tr>
                    <tr>
                        <td align="center" width="33%"><h2>Angel Mondragon</h2></td>
                        <td align="center" width="33%"><h2>Kelly Lamb</h2></td>
                        <td align="center" width="33%"><h2>Mark Pratt</h2></td>
                    </tr>
                    <tr>
                        <td align="center" width="33%">Developer</td>
                        <td align="center" width="33%">Developer</td>
                        <td align="center" width="33%">Developer</td>
                    </tr>
                    <tr>
                        <td align="center" width="33%"><p>Some text that describes me lorem ipsum ipsum lorem.</p></td>
                        <td align="center" width="33%"><p>Attending GCU to earn a B.S. degree in Computer Programming.</p></td>
                        <td align="center" width="33%"><p>I am excited to see how JavaEE works and what I can do with it!</p></td>
                    </tr>
                    <tr>
                        <td align="center" width="33%"><p>angel.mondragonths@gmail.com</p></td>
                        <td align="center" width="33%"><p>klambgcu@yahoo.com</p></td>
                        <td align="center" width="33%"><p>example@example.com</p></td>
                    </tr>
                </table>
            </div>
        </ui:define>
    </ui:composition>
</h:body>
</html>