<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <title>Amazing Blog - Edit</title>
        <h:outputStylesheet library="css" name="styles.css"/>
    </h:head>
    <h:body>
        <ui:composition template="/layouts/commonLayout.xhtml">
            <ui:define name="content">
                <center><h1>Edit A Blog Entry</h1></center>
                <br />
                <br />
                <center>
                    <div class="card" align="left" style="width:50%">
                       <h:form id="edit-form">
                            <h3>ID</h3>
                            <p:inputText value="#{blog.blog_id}" label="Blog ID" disabled="true" />
                            <h3>Title</h3>
                            <p:inputText value="#{blog.title}" label="Title" required="true" />
                            <h3>Blog Entry</h3>
                            <p:inputTextarea rows="5" cols="100" counter="display" maxlength="500"
                                            counterTemplate="{0} characters remaining." autoResize="false" value="#{blog.blog}" label="Blog Entry" required="true"/>
                            <br />
                            <h:outputText id="display" class="p-d-block" />
                            <br />
                            <br />
                            <h:commandButton action="#{blogController.onSubmitEdit(blog)}" value="Submit"/>&nbsp;&nbsp;
                            <h:commandButton action="#{blogController.onCancelEdit()}" value="Cancel"/>
                            <br />
                            <br />
                            <h:messages />
                        </h:form>
                    </div>
                </center>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
