<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <title>Amazing Blog - Login</title>
        <h:outputStylesheet library="css" name="styles.css"/>
   </h:head>
    <h:body>
        <ui:composition template="/layouts/commonLayout.xhtml">
            <ui:define name="content">
                <center><h1>Login</h1></center>
                <br />
                <br />
                <center>
                    <div class="card">
                        <h:form styleClass="login-form">
                            <table align="center" border="0">
                                <tr>
                                    <td><h3>User Name: </h3></td>
                                    <td><p:inputText value="#{user.usrName}" label="User Name" required="true"  /></td>
                                </tr>
                                <tr>
                                    <td><h3>Password: </h3></td>
                                    <td><p:inputText value="#{user.password}" label="Password" required="true"  /></td>
                                </tr>
                                <tr>
                                    <td colspan="2" align="right"><br /><h:commandButton action="#{loginController.onSubmit(user)}" value="Submit"/></td>
                                </tr>
                            </table>
                            <h:inputHidden value="#{user.firstName}" />
                            <h:inputHidden value="#{user.lastName}" />
                            <h:inputHidden value="#{user.experience}" />
                            <br />
                            <br />
                            <h:messages />
                        </h:form>
                    </div>
                </center>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
