<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">

    <h:head>
        <title><ui:insert name="pageTitle">Amazing Blog - Realm Access Error</ui:insert></title>
    </h:head>
    <h:body>
        <ui:composition template="/layouts/commonLayout.xhtml">

            <ui:define name="content">
                <div align="center"> <br />
                    <p>Please enter a user name or password that is authorized to access the realm for this application.</p>
                    <p>For this application, this means a user that has been created in the <code>file</code> realm</p>
                    <p>and has been assigned to the <em>group</em> of <code>GcuUser</code>.</p><br /><br />
                    <p><a href="index.xhtml">Return to Login</a></p>		
                </div>
            </ui:define>

        </ui:composition>
    </h:body>
</html>
