<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<ui:composition>
	<div class="card">
	    <h:form>
	
	        <p:menubar>
	        	<p:menuitem value="Home" url="index.xhtml"/> 
	            <p:submenu label="File">
	                <p:menuitem value="Create"   action="#{menuController.handleCreate()}"  disabled="#{menuController.menuDisabled('Create')}" />
	                <p:menuitem value="Delete"   action="#{menuController.handleDelete()}"  disabled="#{menuController.menuDisabled('Delete')}" />
	                <p:menuitem value="Edit"     action="#{menuController.handleEdit()}"    disabled="#{menuController.menuDisabled('Edit')}" />
	            </p:submenu>
	
	            <p:submenu label="Reports">
	                <p:menuitem value="Report 1" action="#{menuController.handleReport1()}" disabled="#{menuController.menuDisabled('Report 1')}" />
	            </p:submenu>
	            
	            <p:submenu label="Help">
	                <p:menuitem value="About Us" action="#{menuController.handleAbout()}"   disabled="#{menuController.menuDisabled('About Us')}"/>
	            </p:submenu>
	
	            <p:submenu label="Account">
	                <p:menuitem value="Login"    action="#{menuController.handleLogin()}"   disabled="#{menuController.menuDisabled('Login')}" />
	                <p:menuitem value="Logout"   action="#{menuController.handleLogout()}"  disabled="#{menuController.menuDisabled('Logout')}" />
	                <p:menuitem value="Register" action="#{menuController.handleRegistration()}"  disabled="#{menuController.menuDisabled('Register')}" />
	            </p:submenu>
	        </p:menubar>
	    </h:form>
	</div>
</ui:composition>
</html>
