<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui">

<h:head>
<title><ui:insert name="pageTitle">Blog - Dashboard</ui:insert></title>
</h:head>

<h:body>

<div class="card">
	<ui:composition template="/layouts/commonLayout.xhtml">

		<ui:define name="content">
			<center>
				<h1>Amazing Blog Dashboard</h1>
				<br />
				<br />
				<h2>Welcome from Group 2</h2>
			</center>
		</ui:define>

	</ui:composition>
</div>

</h:body>
</html>