<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui">
		
<h:head>
  <title>Amazing Blog - Registration</title>
</h:head>
	
<h:body>
	<ui:composition template="/layouts/commonLayout.xhtml">
	
		<ui:define name="content">
			<br />
			<br />
			<h1>Registration</h1>
			
			<br />
			
			<center >
				<h:form styleClass="reg-form">
				
					<h:messages />
				
					First Name: <h:inputText value="#{user.firstName}" label="First Name" required="true" /> <br /> <br />
					Last Name: <h:inputText value="#{user.lastName}" label="Last Name" required="true"  /> <br /><br />
					User Name: <h:inputText value="#{user.usrName}" label="User Name" required="true"  /> <br /><br />
					Password: <h:inputText value="#{user.password}" label="Password" required="true"  /> <br /><br />
					Expereince: 
					<h:selectOneMenu value="#{user.experience}" required="true"  >
						<f:selectItem itemValue="Student" itemLabel="Student" />
						<f:selectItem itemValue="Expert" itemLabel="Expert" />
						<f:selectItem itemValue="Instructor" itemLabel="Instructor" />
					</h:selectOneMenu> <br /><br />					
					<h:commandButton action="#{regController.onSubmit()}" value="Submit"/>
				</h:form>
		
			</center>
		
		</ui:define>
		
	</ui:composition>
</h:body>
</html>
