@charset "ISO-8859-1";
html, body {
  height: 100%;
  margin: 0;
}

#page {
  position: relative;
  min-height: 100vh;
}

#content {
  padding-bottom: 2.5rem;
}

#footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #E8E8E8;
   color: black;
   text-align: center;
}

* {
    font-family: "monoscope";
    color: grey;
} 

input::placeholder {
    background: #F0F0F0;
    color: grey;
    font-family: "monoscope";
}

h1 {
    font-family: "monoscope";
    font-weight: 600;
    font-size: 3vh;
} 

.btn {
    background: blue;
    color: grey;
    font-family: "monoscope";
    font-size: 1.1vh;
    align-self: center;
}

.blog-table {
	border: 1px black solid;
}
.blog-table-header {
	height: 50px;
	background: #CCC;
	font-weight: bold;
}
.blog-table-row-odd {
	background: #EEE;
}
.blog-table-row-even {
	background: white;
}
